@font-face {
  font-family: pixel;
  src: url(FT88-Regular.woff);
}

@font-face {
  font-family: gallery;
  src: url(cool-font-ever.ttf);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.col-wrapper {
  display: flex;
}

.left-col {
  flex-grow: 0;
  border-right-color: black;
  border-right-width: 2px;
  width: fit-content;
}

.left_col .pronouns_lol {
  padding: 2%; 
  background-color: black;
  color: white;
}


.left-col h1 {
  font-size: 600%; 
  margin: 0%;
  margin-right: 20%; 
  font-family: pixel;
}

.left-col a {
  text-decoration: none;
  font-family: "Times New Roman";
  color:black; 

}

.left-col p {
  font-size: 200%;
  margin: 0%;
  color: black; 
}
.left-col h2 {
  font-size: 200%; 
  margin: 0%; 
}
.links {
  margin-top: 50%;
}
.links a {
  color: green; 
}

footer a {
  color: green; 
}
.left-col li {
  padding: 7%;
  font-size: 120%;
  list-style-type: none; 
}

.mid-col {
  width: fit-content;
}

.tech-mid-col {
  width: 30%; 
  display: flex; 
  
}
.gal img {
  padding-left: 5%;
  margin: 1200px; 
}
.right-col {
  flex-grow: 100000; 
  display: flex; 
  border-width: 2px;
  border-color: red;
  width: fit-content;
  flex-direction: column;
}

.box-outer {
  border: 1px solid black;
  background-color: white;
  color: black; 
  margin: 1%; 
  width: fit-content; 
  height: fit-content; 
  display: inline-block; 
  
}

.flower {
  background-color: white;
  padding: 0%; 
  margin: 0%; 
}

.flower img {
  padding: 0%; 
  margin: 0%; 
}
.box-inner {
  border: 1px solid black;
  background-color: white;
  color: black; 
  width: fit-content; 
  display: inline-block; 
}

.box-symbols {
  font-family: pixel; 
}

.small-stuff {
  display: flex;
  width: fit-content
}

.smaller-stuff {
  display: flex;
  width: fit-content

}

.welcome .box-outer{
  width: fit-content;
}
.welcome .box-inner{
  width: fit-content;
}
.welcome p {
  padding: 5%; 
}


.testimonials p {
  padding-left: 5%; 
  padding-right: 5%; 
  text-align: center;
  
}

.testimonials a { 
  text-decoration: none;
  color: green;
}

.timegraphic {
  width: fit-content;
}
.timegraphic .box-inner {
  text-align: center;
}


.timegraphic a {
  padding-bottom: 4%; 
  text-decoration: underline;
  text-align: center;
  text-decoration-color: green;
  color: black;
}


.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 2000px;
    grid-template-rows: masonry; 
}


.correct { 
  object-fit: cover; 
  height: 300px;
  width: 300px;
  padding: 10px;
}

footer {
  background-color: black;
  color: white; 
}

.advice-box {
  flex-grow: 1;
  float: right;  
}

.bread {
  color: black; 
  width: fit-content;
  text-align: center;
}

.bread .box-symbols {
  font-size: 10px;
}

.bread .box-outer {
  width: fit-content;
}

.bread a {
  text-decoration: none;
  color: green;
}
.bread a:hover {
  text-decoration: underline;
}


.fiddle img {
  height: 20%; 
  
}

.fiddle-desc a {
  text-decoration: underline; 
  color: green; 
}

.fiddle-desc p {
  text-align: center;
  color: black; 
  padding: 5%; 
}

.crochet .box-inner{
  padding: 2%; 
}
.fiddle-desc .box-outer {
  width: fit-content; 
}

.art-mid-col {
  padding-right: 3%;
}

.radio {
  width: 85%; 
}

.radio p {
  padding: 2%;
}

.radio img {
  width: 50%; 
  text-align: center;
}

.radio-img img {
  height: 50%;
}

.art-description .box-inner{
  padding: 3%;
}

.tulip .box-symbols {
  font-size: 12px; 
}

.publications .box-inner {
  padding: 2%; 
}

.research {
  width: 100%; 
}

.research .box-inner {
  padding: 2%; 
}

.mid-col-research {
  width: 50%; 
}

.publications .box-outer{
  width: 80%; 
}

.contact {
  width: fit-content; 
}

.contact .box-inner p {
  padding: 2%; 
  text-align: center;
}

.pics {
  font-size: 10px;
}

.mueller p {
  padding: 2%; 
}

.name p {
  font-size: 15px; 
  background-color: black;
  color: white; 
  width: fit-content;
}

.stacked {
  display: flex;
  flex-direction: column;
}

.fish .box-symbols {
  font-size: 12px; 
}


.tech{
  width: 60%; 
}

.tech p {
  padding: 2%; 
}

.languages h4 {
  padding-left: 5%; 
  
}


.gallery {
  font-family: gallery;
  align-content: center;
  font-size: 100px; 
  text-align: center;
  color: black; 
  height: 100%;
  vertical-align: center;
  padding-top: 10%; 
  padding-bottom: 25%; 
}
.color {
  background-image: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.color button {
  background-image: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  text-decoration: none;
  background-color: transparent;
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x:0%; 
  background-repeat: no-repeat;
  text-align: center;
  align-content: center;
  transition: background-size 0.2s ease-in-out;
  font-family: gallery;
  border: none; 
  font-size: 100px;
}
  button:hover,
  button:focus,
  button:active {
  background-size: 100% 0.1em;
  }

.bw {
  color: black;
  text-align: center;
  align-content: center;

}

  .bw button {
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    align-content: center;
    border: none;
    color: black; 
    background-color: white;
    text-align: center;
    align-content: center;
    font-family: gallery;
  
    font-size: 100px; 
    }
  
    button:hover,
    button:focus,
    button:active {
    background-size: 100% 0.1em;
    }

  .expandable {
    display: none;
  }


  /*

  
.expandable {
  background: white;
  color: #000;   
  overflow: hidden; 
  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
  height: 10%; 
 }

 .expandable img {
  padding:2%;
  align-content: center;
 }
 
 .expandable:target {
  transform: scaleY(1);
}
 */
.img_grid {
  display: flex; 
  justify-content: center;
}
.img_desc p {
  opacity: 0;
  transform: scale(0);
  color:black; 
  font-size: 20px;
  transition: 0.8s; 
  -webkit-text-fill-color: black; 
  font-family: "Times New Roman"; 
  
}

.img_desc {
  padding: 2%; 
  width: fit-content;
  height: fit-content; 
  align-content: center;
  padding-top: 0%; 
  padding-bottom: 0%; 
}

.img_desc img {
  padding:10%; 
}

.img_desc:hover p {
  opacity: 1;
  transform:scale(1);
}

.img_grid {
  width: 100%; 
  align-content: center;
  flex-wrap: wrap; 
}


.go_home a {
  font-size: 24px; 
  color: black; 
  font-family: "Times New Roman";
  padding: 20%; 
  background-image: linear-gradient(black, black);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  text-decoration: none;
  padding-top: 5%;
}
a:hover {
  text-decoration: underline;
}
